<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT</title>
</head>

<body>
    <div id='chat_container'>
        <ul id='chat_messages'>
            {% for mensagem in mensagens_chat reversed %}
                <li>
                    <div>
                        <span>{{ mensagem.autor.username }}: {{ mensagem.corpo }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Formulário de envio de mensagens -->
    <div>
        <form id="chat_message_form" method='POST'>
            {% csrf_token %}
            <input type="text" name="message" placeholder="Adicionar mensagem..." maxlength="150">
            <button type="submit">Enviar</button>
        </form>
    </div>

</body>

</html>
