{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/criar_ficha_style.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/fontes.css' %}">
    <title>Criar Ficha</title>
</head>

<body class="ficha-box ">
    <h1 class="ficha-box">Criar Ficha</h1>
    <p>PLAYER: {{ username }}</p>
    <p>CAMPANHA: {{ campanha.nome }}</p>
    <p>GM: {{ campanha.dono }}</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}




        <!-- Campo Nome do Personagem -->
        <div class="ficha-box medievalsharp-regular ">
            <div class="form-field">
                <label for="id_nome_personagem">Nome:</label>
                <input type="text" name="nome_personagem" id="id_nome_personagem"
                    value="{{ form.nome_personagem.value }}" placeholder="Nome do personagem" />
            </div>

            <!-- Campo Idade -->
            <div class="form-field">
                <label for="id_idade">Idade:</label>
                <input class="campo-curto-atributo" type="number" name="idade" id="id_idade"
                    value="{{ form.idade.value }}" min="0" />
            </div>

            <!-- Campo Aparência -->
            <div class="form-field">
                <label for="id_aparencia">Aparência:</label>
                <textarea name="aparencia" id="id_aparencia" placeholder="Aparência"></textarea>
            </div>
            <!-- Campo de upload de imagem -->
            <label class="txt-miniatura-imagem medievalsharp-regular " for="id_imagem">Foto:</label>
            <input class="input-imagem-miniatura medievalsharp-regular " type="file" id="id_imagem" name="imagem"
                accept="image/*" onchange="previewImagem(event)">

            <!-- Miniatura da imagem -->
            <div>
                <img class="imagem-miniatura" id="miniatura_imagem" src="#" alt="Pré-visualização da imagem">
            </div>
        </div>






        <!-- Campos de Atributos (ST, DX, IQ, HT e seus XP) -->
        <div class="ficha-box box-atributo">
            <div class="form-field">

                <label class="medievalsharp-large caixa-atributo-label" for="id_st"></label>

                <label class="label-atributo medievalsharp-mini " for="id_st"></label>

                <label class="label-atributo medievalsharp-mini " for="id_xp_st">Pontos</label>

                <label class="label-atributo medievalsharp-mini " for="id_st_bonus">Mod</label>

            </div>

            <div class="form-field">

                <label class="medievalsharp-large caixa-atributo" for="id_st">ST:</label>

                <input class="campo-curto-atributo input-box-atributo" type="number" name="st" id="id_st" readonly />

                <input class="campo-curto-atributo input-box-atributo" type="text" name="xp_st" id="id_xp_st" />

                <input class="campo-curto-atributo input-box-atributo" type="number" name="st_bonus" id="id_st_bonus" />

            </div>


            <div class="form-field">

                <label class="medievalsharp-large caixa-atributo" for="id_dx">DX:</label>

                <input class="campo-curto-atributo input-box-atributo" type="number" name="dx" id="id_dx" readonly />

                <input class="campo-curto-atributo input-box-atributo" type="text" name="xp_dx" id="id_xp_dx" />

                <input class="campo-curto-atributo input-box-atributo" type="number" name="dx_bonus" id="id_dx_bonus" />

            </div>

            <div class="form-field">

                <label class="medievalsharp-large caixa-atributo" for="id_iq">IQ:</label>

                <input class="campo-curto-atributo input-box-atributo" type="number" name="iq" id="id_iq" readonly />

                <input class="campo-curto-atributo input-box-atributo" type="text" name="xp_iq" id="id_xp_iq" />

                <input class="campo-curto-atributo input-box-atributo" type="number" name="iq_bonus" id="id_iq_bonus" />
            </div>

            <div class="form-field">

                <label class="medievalsharp-large caixa-atributo" for="id_ht">HT:</label>

                <input class="campo-curto-atributo input-box-atributo" type="number" name="ht" id="id_ht" readonly />

                <input class="campo-curto-atributo input-box-atributo" type="text" name="xp_ht" id="id_xp_ht" />

                <input class="campo-curto-atributo " type="number" name="ht_bonus" id="id_ht_bonus" />
            </div>


            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_hp">HP:</label>
                <input class="campo-curto-atributo" type="number" name="subatributos[hp]" id="subatributo_hp">
            </div>

            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_fp">FP:</label>
                <input class="campo-curto-atributo" type="number" name="subatributos[fp]" id="subatributo_fp">
            </div>

            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_basic_lift">Basic Lift:</label>
                <input class="campo-curto-atributo" type="text" name="subatributos[basic_lift]"
                    id="subatributo_basic_lift">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_swing">Swing:</label>
                <input class="campo-curto-atributo" type="text" name="subatributos[swing]" id="subatributo_swing">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_thrust">Thrust:</label>
                <input class="campo-curto-atributo" type="text" name="subatributos[thrust]" id="subatributo_thrust">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_swing_weapon">Swing Weapon:</label>
                <input class="campo-curto-atributo" type="text" name="subatributos[swing_weapon]"
                    id="subatributo_swing_weapon">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_thrust_weapon">Thrust Weapon:</label>
                <input class="campo-curto-atributo" type="text" name="subatributos[thrust_weapon]"
                    id="subatributo_thrust_weapon">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_move">Move:</label>
                <input class="campo-curto-atributo" type="text" name="subatributos[move]" id="subatributo_move">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_speed">Speed:</label>
                <input class="campo-curto-atributo" type="number" name="subatributos[speed]" id="subatributo_speed">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_dodge">Dodge:</label>
                <input class="campo-curto-atributo" type="number" name="subatributos[dodge]" id="subatributo_dodge">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_parry_unarmed">Parry Unarmed:</label>
                <input class="campo-curto-atributo" type="number" name="subatributos[parry_unarmed]"
                    id="subatributo_parry_unarmed">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_parry_weapon">Parry Weapon:</label>
                <input class="campo-curto-atributo" type="number" name="subatributos[parry_weapon]"
                    id="subatributo_parry_weapon">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_stress">Stress:</label>
                <input class="campo-curto-atributo" type="number" name="subatributos[stress]" id="subatributo_stress">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_will">Will:</label>
                <input class="campo-curto-atributo" type="number" name="subatributos[will]" id="subatributo_will">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_perception">Perception:</label>
                <input class="campo-curto-atributo" type="number" name="subatributos[perception]"
                    id="subatributo_perception">
            </div>
            <div class="form-field">
                <label class="medievalsharp-regular" for="subatributo_money">Money:</label>
                <input class="campo-curto-atributo" type="text" name="subatributos[money]" id="subatributo_money">
            </div>
        </div>



        <!-- Campo Vantagens -->
        <div class="ficha-box ">
            <h2>Vantagens</h2>

            <div id="vantagens-container">
                <!-- Linha para uma vantagem -->
                <div class="form-field vantagem-linha">
                    <input type="text" name="vantagens_nome[]" class="vantagem-nome" placeholder="Nome da vantagem" />
                    <input type="number" name="vantagens_valor[]" class="vantagem-valor"
                        placeholder="Valor da vantagem" />
                </div>
            </div>

            <!-- Botão para adicionar mais vantagens -->
            <button type="button" id="adicionar-vantagem">Adicionar Vantagem</button>
        </div>


        <!-- Campo Desvantagens -->
        <div class="ficha-box ">
            <h2>Desvantagens</h2>

            <div id="desvantagens-container">
                <!-- Linha para uma desvantagem -->
                <div class="form-field desvantagem-linha">
                    <input type="text" name="desvantagens_nome[]" class="desvantagem-nome"
                        placeholder="Nome da desvantagem" />
                    <input type="number" name="desvantagens_valor[]" class="desvantagem-valor"
                        placeholder="Valor da desvantagem" />
                </div>
            </div>

            <!-- Botão para adicionar mais desvantagens -->
            <button type="button" id="adicionar-desvantagem">Adicionar Desvantagem</button>
        </div>

        <!-- Campo Perícias -->
        <div class="ficha-box ">
            <h2>Perícias</h2>

            <div id="pericias-container">
                <!-- Linha para uma perícia -->
                <div class="form-field pericia-linha">
                    <input type="text" name="pericias_nome[]" class="pericia-nome" placeholder="Nome da perícia" />

                    <!-- Primeiro select para Atributo Base -->
                    <select name="pericias_atributo_base[]" class="pericia-atributo-base">
                        <option value="">Atributo Base</option>
                        <option value="ST">ST</option>
                        <option value="DX">DX</option>
                        <option value="IQ">IQ</option>
                        <option value="HT">HT</option>
                        <option value="Will">Will</option>
                        <option value="Per">Per</option>
                    </select>

                    <!-- Segundo select para Dificuldade -->
                    <select name="pericias_dificuldade[]" class="pericia-dificuldade">
                        <option value="">Dificuldade</option>
                        <option value="Fácil">Fácil</option>
                        <option value="Média">Média</option>
                        <option value="Difícil">Difícil</option>
                        <option value="Muito Difícil">Muito Difícil</option>
                    </select>

                    <input type="number" name="pericias_custo[]" class="pericia-custo" placeholder="Custo" />
                    <input type="number" name="pericias_nh[]" class="pericia-nh" placeholder="NH" readonly />
                </div>
            </div>

            <!-- Botão para adicionar mais perícias -->
            <button type="button" id="adicionar-pericia">Adicionar Perícia</button>
        </div>



        <!-- Campo Equipamentos -->
        <div class="ficha-box ">
            <h2>Equipamentos</h2>

            <!-- Campo Equipamentos Melee -->
            <div class="ficha-box ">
                <h3>Melee</h3>
                <div id="equipamentos-melee-container">
                    <!-- Linha para um equipamento Melee -->
                    <div class="form-field equipamento-linha">
                        <input class="campo-curto" type="text" name="equipamentos_melee_nome[]"
                            placeholder="Nome do equipamento Melee" />
                        <input class="campo-curto" type="text" name="equipamentos_melee_damage[]"
                            placeholder="Damage" />
                        <input class="campo-curto" type="text" name="equipamentos_melee_reach[]" placeholder="Reach" />
                        <input class="campo-curto" type="text" name="equipamentos_melee_parry[]" placeholder="Parry" />
                        <input class="campo-curto" type="number" name="equipamentos_melee_cost[]" placeholder="Cost" />
                        <input class="campo-curto" type="number" name="equipamentos_melee_weight[]"
                            placeholder="Weight" />
                        <p><textarea name="equipamentos_melee_details[]" placeholder="Details" rows="2"></textarea></p>
                    </div>
                </div>
                <button type="button" id="adicionar-equipamento-melee">Adicionar Melee</button>
            </div>


            <!-- Campo Equipamentos Ranged -->
            <div class="ficha-box ">
                <h3>Ranged</h3>
                <div id="equipamentos-ranged-container">
                    <!-- Linha para um equipamento Ranged -->
                    <div class="form-field equipamento-linha">
                        <input class="campo-curto" type="text" name="equipamentos_ranged_nome[]"
                            placeholder="Nome da arma Ranged" />
                        <input class="campo-curto" type="text" name="equipamentos_ranged_damage[]"
                            placeholder="Damage" />
                        <input class="campo-curto" type="text" name="equipamentos_ranged_acc[]" placeholder="Acc" />
                        <input class="campo-curto" type="text" name="equipamentos_ranged_range[]" placeholder="Range" />
                        <input class="campo-curto" type="number" name="equipamentos_ranged_weight[]"
                            placeholder="Weight" />
                        <input class="campo-curto" type="text" name="equipamentos_ranged_rof[]" placeholder="Rof" />
                        <input class="campo-curto" type="text" name="equipamentos_ranged_shots[]" placeholder="Shots" />
                        <input class="campo-curto" type="text" name="equipamentos_ranged_bulk[]" placeholder="Bulk" />
                        <input class="campo-curto" type="text" name="equipamentos_ranged_rcl[]" placeholder="RCL" />
                        <input class="campo-curto" type="number" name="equipamentos_ranged_cost[]" placeholder="Cost" />
                    </div>
                </div>
                <button type="button" id="adicionar-equipamento-ranged">Adicionar Ranged</button>
            </div>


            <!-- Campo Equipamentos Armor -->
            <div class="ficha-box ">
                <h3>Armor</h3>
                <div id="equipamentos-armor-container">
                    <!-- Linha para uma armadura -->
                    <div class="form-field equipamento-linha">
                        <input class="campo-curto" type="text" name="equipamentos_armor_nome[]"
                            placeholder="Nome da armadura" />
                        <input class="campo-curto" type="text" name="equipamentos_armor_location[]"
                            placeholder="Location" />
                        <input class="campo-curto" type="number" name="equipamentos_armor_rd[]" placeholder="RD" />
                        <input class="campo-curto" type="number" name="equipamentos_armor_cost[]" placeholder="Cost" />
                        <input class="campo-curto" type="number" name="equipamentos_armor_weight[]"
                            placeholder="Weight" />
                    </div>
                </div>
                <button type="button" id="adicionar-equipamento-armor">Adicionar Armor</button>
            </div>


            <!-- Botão de Enviar -->
            <button type="submit">Salvar Ficha</button>
    </form>
    <script src="{% static 'global/js/criar_ficha/criar_ficha_imagem.js' %}"></script>
    <script src="{% static 'global/js/criar_ficha/criar_ficha_atributos.js' %}"></script>
    <script src="{% static 'global/js/criar_ficha/criar_ficha_vantagens.js' %}"></script>
    <script src="{% static 'global/js/criar_ficha/criar_ficha_desvantagens.js' %}"></script>
    <script src="{% static 'global/js/criar_ficha/criar_ficha_pericias.js' %}"></script>
    <script src="{% static 'global/js/criar_ficha/criar_ficha_equipamento_melee.js' %}"></script>
    <script src="{% static 'global/js/criar_ficha/criar_ficha_equipamento_range.js' %}"></script>
    <script src="{% static 'global/js/criar_ficha/criar_ficha_equipamento_armor.js' %}"></script>
    <script src="{% static 'global/js/criar_ficha/criar_ficha_enter.js' %}"></script>
</body>

</html>