{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/criar_campanha_style.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/fontes.css' %}">
    <title>CRIAR CAMPANHA</title>
</head>

<body>
    <div style="font-size: 3rem;" class="titulo medievalsharp-regular ">Criar campanha</div>
    <form class="medievalsharp-regular " method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Campo de upload de imagem -->
        <label class="txt-miniatura-imagem medievalsharp-regular " for="id_imagem">Imagem da Campanha:</label>
        <input class="input-imagem-miniatura medievalsharp-regular " type="file" id="id_imagem" name="imagem"
            accept="image/*" onchange="previewImagem(event)">

        <!-- Miniatura da imagem -->
        <div>
            <img class="imagem-miniatura" id="miniatura_imagem" src="#" alt="Pré-visualização da imagem">
        </div>

        <button class="medievalsharp-regular " type="submit">Criar Campanha</button>
    </form>
    <script src="{% static 'global/js/criar_campanha.js' %}"></script>

</body>

</html>