{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/index_style.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/fontes.css' %}">

    <title>PAGINA INICIAL

    </title>
</head>

<body>
    <div class="menu-index">
        <div class="menu-container">
            <div class="nome-usuario caesar-dressing-regular">{{username}}</div>

            <ul>
                <li class="li-menu fredericka-the-great-regular"><a id="carregar-campanha" href="{% url "gurps:carregar_campanha_index" %}">Carregar Campanha</a></li>
                <li class="li-menu fredericka-the-great-regular"><a id="nova-campanha" href="{% url "gurps:nova_campanha_index" %}">Nova Campanha</a></li>
                <li class="li-menu fredericka-the-great-regular"><a id="fichas" href="{% url "gurps:carregar_fichas" %}">Fichas</a></li>
                <li class="li-menu fredericka-the-great-regular"><a href="{% url 'gurps:logout' %}">Sair</a></li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        {% block content %}{% endblock content %}


    </div>



    <script src="{% static 'global/js/index.js' %}"></script>
</body>

</html>