{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campanha - {{ campanha.nome }}</title>
    <link rel="stylesheet" href="{% static 'global/css/game_interface.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/fontes.css' %}">
</head>

<body>
    <div class="image-container">
        {% if pagina_inicial.image %}
        <img src="{{ pagina_inicial.image.url }}" alt="{{ pagina_inicial.name }}" class="full-screen-image"
            id="map-image">
        {% endif %}
    </div>



    <div class="coluna-chat">
        <div class="chat-container-menu">
            <div class="menu-container">

                {% if username == campanha.dono.username %}
                    <a class="menu-button-options" href="{% url 'gurps:menu_fichas_gm' campanha.id %}">GM</a>
                    <button class="menu-button-options" onclick="abrirJanela('journal-gm')">JOURNAL</button>

                {% else %}
                    <a class="menu-button-options" href="{% url 'gurps:editar_fichas_menu' campanha.id %}">FICHA</a>
                    <button class="menu-button-options" onclick="abrirJanela('journal-player')">JOURNAL</button>

                {% endif %} 
                

                <a class="menu-button-options" href="{% url 'gurps:leave_game' %}">SAIR</a>
            </div>
        </div>

        <div id="chat-container-id" class="chat-container" data-room-name="{{ campanha.id }}"
            data-username="{{ user.username }}">


            <!-- Lista de mensagens -->
            <ul class="message-box" id="messages">
                {% for item in messages %}
                    <li class="message-single-box medievalsharp-mini {{ item.color }}">
                        <strong class="username-chat">{{ item.message.user.username }}:</strong> 
                        <span class="content-message-chat">{{ item.message.content|linebreaksbr }}</span>
                    </li><br>
                {% endfor %}
                </ul>


        </div>

        <div class="chat-container-submit">
            <!-- Formulário para enviar uma nova mensagem -->
            <form method="POST" action="">
                {% csrf_token %}
                <textarea class="textarea-chat" id="messageInput" maxlength="256" name="content" placeholder="Digite sua mensagem"></textarea>
                <button class="menu-button" id="button-chat-submit" type="submit">Enviar</button>
            </form>
        </div>
    </div>
    


    {% if username != campanha.dono.username %}
    <div style="display:none;" id="owner-status" data-is-owner="False"></div>
    <!-- Ficha do personagem -->
        <div class="personagem-container">
            <span id="personagem-nome" data-nome="{{ personagem.nome_personagem }}" class="nome-personagem fredericka-the-great-regular">{{ personagem.nome_personagem }}</span>
            <ul class="lista-personagens medievalsharp-regular">
                {% for sheet in sheet_list %}
                    <li>
                        <a id="personagem-nome-alt" data-nome="{{sheet.nome_personagem}}" class="menu-button-gm medievalsharp-mini" onclick="abrirJanelaSecundario('personagem_secundario')">{{sheet.nome_personagem}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="personagem-primeira-linha medievalsharp-mini">
                <button class="menu-button" onclick="abrirJanela('atributos')">ATRIBUTOS</button>
                <button class="menu-button" onclick="abrirJanela('pericias')">PERÍCIAS</button>
                <button class="menu-button" onclick="abrirJanela('ataque')">ATAQUE</button>
                <button class="menu-button" onclick="abrirJanela('defesa')">DEFESA</button>
                <button class="menu-button" onclick="abrirJanela('equipamento')">EQUIPAMENTO</button>
                <button class="menu-button" onclick="abrirJanela('dados')">DADOS</button>

            </div>
            <div class="personagem-display medievalsharp-mini">

                <div class="personagem-info">
                    <span>HP: {{ personagem.sub_attributes.hp }}</span>
                    <span>FP: {{ personagem.sub_attributes.fp }}</span>
                </div>

                <div class="personagem-info">
                    <span>SPEED:{{personagem.sub_attributes.speed}}</span>
                    <span>MOVE:{{personagem.sub_attributes.move}}m/s</span>
                </div>
                <div class="personagem-info">
                    <span>B. LIFT:{{personagem.sub_attributes.basic_lift}}kg</span>
                    <span>Dodge:{{personagem.sub_attributes.dodge}}</span>
                </div>
                <div class="personagem-info">
                    <span>SWING:{{personagem.sub_attributes.swing}}</span>
                    <span>THRUST:{{personagem.sub_attributes.thrust}}</span>
                </div>
                <div class="personagem-info">
                    <span>SWING W:{{personagem.sub_attributes.swing_weapon}}</span>
                    <span>THRUST W:{{personagem.sub_attributes.thrust_weapon}}</span>
                </div>
                <div class="personagem-info">
                    <span>PARRY:{{personagem.sub_attributes.parry_unarmed}}</span>
                    <span>PARRY W:{{personagem.sub_attributes.parry_weapon}}</span>
                </div>
                <div class="personagem-info">
                    <span>STRESS:{{personagem.sub_attributes.stress}}</span>
                    <span>JUMP:{{personagem.sub_attributes.Jump}}m</span>
                </div>
                <div class="personagem-info">
                    <span>WILL:{{personagem.sub_attributes.will}}</span>
                    <span>PERC:{{personagem.sub_attributes.perception}}</span>
                </div>






            </div>
        </div>

        <!-- atributos -->
        <div id="janela-atributos" class="janela">
            <button class="fechar menu-button" onclick="fecharJanela()">×</button>
            <ul>
                <div class="ficha-parte-box">
                    <h3 class="titulo-ficha-gm fredericka-the-great-regular">ATRIBUTOS</h3>
                    <li class="li-gm">
                        <span class="medievalsharp-regular">ST: {{ personagem.atributos.ST }}</span>&nbsp;&nbsp;
                        =>&nbsp;&nbsp;BÔNUS:
                        <input class="input-inc" type="number" id="bonus-ST" value="0">
                        &nbsp;&nbsp;&nbsp;&nbsp;REDUTOR:&nbsp;&nbsp;
                        <input class="input-inc" type="number" id="redutor-ST" value="0">
                        <button  class="menu-button" onclick="rollAttribute({{ personagem.atributos.ST }}, 'ST')">Rolar</button><br><br>
                    </li>
                    <li class="li-gm">
                        <span class="medievalsharp-regular">DX: {{ personagem.atributos.DX }}</span>&nbsp;&nbsp;
                        =>&nbsp;&nbsp;BÔNUS:
                        <input class="input-inc" type="number" id="bonus-DX" value="0">
                        &nbsp;&nbsp;&nbsp;&nbsp;REDUTOR:&nbsp;&nbsp;
                        <input class="input-inc" type="number" id="redutor-DX" value="0">
                        <button  class="menu-button" onclick="rollAttribute({{ personagem.atributos.DX }}, 'DX')">Rolar</button><br><br>
                    </li>
                    <li class="li-gm">
                        <span class="medievalsharp-regular">IQ: {{ personagem.atributos.IQ }}</span>&nbsp;&nbsp;
                        =>&nbsp;&nbsp;BÔNUS:
                        <input class="input-inc" type="number" id="bonus-IQ" value="0">
                        &nbsp;&nbsp;&nbsp;&nbsp;REDUTOR:&nbsp;&nbsp;
                        <input class="input-inc" type="number" id="redutor-IQ" value="0">
                        <button  class="menu-button" onclick="rollAttribute({{ personagem.atributos.IQ }}, 'IQ')">Rolar</button><br><br>
                    </li>
                    <li class="li-gm">
                        <span class="medievalsharp-regular">HT: {{ personagem.atributos.HT }}</span>&nbsp;&nbsp;
                        =>&nbsp;&nbsp;BÔNUS:
                        <input class="input-inc" type="number" id="bonus-HT" value="0">
                        &nbsp;&nbsp;&nbsp;&nbsp;REDUTOR:&nbsp;&nbsp;
                        <input class="input-inc" type="number" id="redutor-HT" value="0">
                        <button  class="menu-button" onclick="rollAttribute({{ personagem.atributos.HT }}, 'HT')">Rolar</button><br><br>
                    </li>
                </div>
            </ul>
        </div>




        <!-- Perícias -->
        <div id="janela-pericias" class="janela">
            <button class="fechar menu-button" onclick="fecharJanela()">×</button>
            <ul>
                <div class="ficha-parte-box">
                    <h3 class="titulo-ficha-gm fredericka-the-great-regular">PERÍCIAS</h3>
                {% for skill in personagem.skills %}
                    <li class="li-gm">
                        <span class="medievalsharp-regular">{{ skill.nome }} - NH {{ skill.nh }}</span>&nbsp;&nbsp;
                        =>&nbsp;&nbsp;BÔNUS:
                        <input class="input-inc" type="number" id="bonus-{{ skill.nome|slugify }}" value="0">
                        &nbsp;&nbsp;&nbsp;&nbsp;REDUTOR:&nbsp;&nbsp;
                        <input class="input-inc" type="number" id="redutor-{{ skill.nome|slugify }}" value="0">
                        <button class="menu-button" onclick="rollAttribute({{ skill.nh }}, '{{ skill.nome|slugify }}')">Rolar</button><br><br>
                    </li>
                {% endfor %}
                </div>
            </ul>
        </div>



        <!--Ataques-->
        <div id="janela-ataque" class="janela">
            <button class="fechar menu-button" onclick="fecharJanela()">×</button>
            <div class="ficha-parte-box">
                <h3 class="titulo-ficha-gm fredericka-the-great-regular">MELEE</h3>
            {% for attack in personagem.maneuvers_melee %}
                <div class="ficha-parte-box-ataque">
                    <span class="medievalsharp-large">{{ attack.nome }}</span><br>
                    <span class="medievalsharp-regular">NH: {{ attack.nh }} <br>DANO: {{ attack.damage }}</span><br>
                    <span class="medievalsharp-mini" style="white-space: pre-wrap;"><br>Detalhes:<br>{{ attack.detalhes }}</span><br><br>


                    
                    &nbsp;&nbsp;BÔNUS:
                    <input class="input-inc" type="number" id="bonus-{{ attack.nome|slugify }}" value="0">
                    &nbsp;&nbsp;&nbsp;&nbsp;REDUTOR:&nbsp;&nbsp;
                    <input class="input-inc" type="number" id="redutor-{{ attack.nome|slugify }}" value="0"><br>
                    <button class="menu-button" onclick="rollAttack({{ attack.nh }}, '{{ attack.nome|slugify }}','{{attack.damage}}')">Rolar</button><br><br>

                </div>
            {% endfor %}
            </div>

            <br><br><br><br>


            <div class="ficha-parte-box">
                <h3 class="titulo-ficha-gm fredericka-the-great-regular">RANGED</h3>    
            {% for attack in personagem.maneuvers_ranged %}
                <div class="ficha-parte-box-ataque-ranged">
                    <span class="medievalsharp-large">{{ attack.nome }}</span><br>
                    <span class="medievalsharp-regular">NH: {{ attack.nh }} <br>DANO: {{ attack.damage }}</span><br>
                    <span class="medievalsharp-mini" style="white-space: pre-wrap;"><br>Detalhes:<br>{{ attack.detalhes }}</span><br><br>


                    
                    &nbsp;&nbsp;BÔNUS:
                    <input class="input-inc" type="number" id="bonus-{{ attack.nome|slugify }}" value="0">
                    &nbsp;&nbsp;&nbsp;&nbsp;REDUTOR:&nbsp;&nbsp;
                    <input class="input-inc" type="number" id="redutor-{{ attack.nome|slugify }}" value="0"><br>
                    <button class="menu-button" onclick="rollAttack({{ attack.nh }}, '{{ attack.nome|slugify }}','{{attack.damage}}')">Rolar</button><br><br>

                </div>
            {%endfor%}
            </div>
        </div>



        <!--Defesas-->
        <div id="janela-defesa" class="janela">
            <button class="fechar menu-button" onclick="fecharJanela()">×</button>
            <div class="ficha-parte-box">
                <h3 class="titulo-ficha-gm fredericka-the-great-regular">DEFESA</h3>
            {% for defense in personagem.maneuvers_defense %}
                <div class="ficha-parte-box-defesa">
                    <span class="medievalsharp-large">{{ defense.nome }}</span><br>
                    <span class="medievalsharp-regular">NH: {{ defense.nh }}</span><br>
                    <span class="medievalsharp-mini" style="white-space: pre-wrap;"><br>Detalhes:<br>{{ defense.detalhes }}</span><br><br>


                &nbsp;&nbsp;BÔNUS:
                <input class="input-inc" type="number" id="bonus-{{ defense.nome|slugify }}" value="0">
                &nbsp;&nbsp;&nbsp;&nbsp;REDUTOR:&nbsp;&nbsp;
                <input class="input-inc" type="number" id="redutor-{{ defense.nome|slugify }}" value="0"><br>
                <button class="menu-button" onclick="rollAttribute({{ defense.nh }}, '{{ defense.nome|slugify }}')">Rolar</button><br><br>


                </div>
            {% endfor %}
            </div>
        </div>

        <!--equipamento-->
        <div id="janela-equipamento" class="janela">
            <button class="fechar menu-button" onclick="fecharJanela()">×</button>
            <div class="ficha-parte-box">
                <h3 class="titulo-ficha-gm fredericka-the-great-regular">MELEE</h3>
            {% for equip in personagem.equipment_melee %}
                <div class="ficha-parte-box-ataque">
                    <span class="medievalsharp-large">{{ equip.nome }}</span><br>
                    <span class="medievalsharp-regular">
                        DMG: {{ equip.damage }}<br>
                        Reach: {{ equip.reach }}<br>
                        Parry: {{ equip.parry }}<br>
                        Cost: ${{ equip.cost }}<br>
                        Weight:{{ equip.weight }}<br>
                    </span><br>
                    <span class="medievalsharp-mini" style="white-space: pre-wrap;"><br>Detalhes:<br>{{ equip.details }}</span><br><br>                
                </div>
            {% endfor %}
            </div>






            <div class="ficha-parte-box">
                <h3 class="titulo-ficha-gm fredericka-the-great-regular">RANGED</h3>
            {% for equip in personagem.equipment_ranged %}
                <div class="ficha-parte-box-ataque-ranged">
                    <span class="medievalsharp-large">Nome:</strong> {{ equip.nome }}</span><br>
                    <span class="medievalsharp-regular">
                        DMG: {{ equip.damage }}<br>
                        ACC: {{ equip.acc }}<br>
                        Range: {{ equip.range }}<br>
                        Weight: {{ equip.weight }}<br>
                        ROF: {{ equip.rof }}<br>
                        Shots: {{ equip.shots }}<br>
                        Bulk: {{ equip.bulk }}<br>
                        RCL: {{ equip.rcl }}<br>
                        Cost: ${{ equip.cost }}<br>
                    </span><br>
                    <span class="medievalsharp-mini" style="white-space: pre-wrap;"><br>Detalhes:<br>{{ equip.details }}</span><br><br>                
                </div>
            {% endfor %}
            </div>





            <div class="ficha-parte-box">
                <h3 class="titulo-ficha-gm fredericka-the-great-regular">ARMOR</h3>
            {% for equip in personagem.equipment_armor %}
                <div class="ficha-parte-box-defesa">
                    <span class="medievalsharp-large">Nome:</strong> {{ equip.nome }}</span><br>
                    <span class="medievalsharp-regular">
                        DR: {{ equip.dr }}<br>
                        Location: {{ equip.location }}<br>
                        Cost: ${{ equip.cost }}<br>
                        Weight: {{ equip.weight }}<br>
                    </span><br><br>
                </div>
            {% endfor %}
            </div>





        </div>


        <!-- dados -->
        <div id="janela-dados" style="width:200px;" class="janela">
            <button class="fechar menu-button" onclick="fecharJanela()">×</button>
            <div class="ficha-parte-box medievalsharp-mini">
                <span style="margin-bottom:1rem;" class="medievalsharp-large">Roll:</span><br>
                => QUANTIDADE:
                <input style="margin-bottom:1rem;" class="input-inc" type="number" id="quantidade-d6-id" value="3">
                =>INCREMENTO:
                <input style="margin-bottom:1rem;" class="input-inc" type="number" id="incremento_d6_id" value="0">
                <button class="menu-button" id="botao-rolar-d6">Rolar</button><br><br>
            </div>
        </div>


        <!--Journal Player-->
        <div id="janela-journal-player" class="janela">
            
            <button class="fechar menu-button" onclick="fecharJanela()">×</button>

            <label class="titulo-personagem-gm medievalsharp-regular">PESQUISAR:</label>
            <input class="input-pesquisa-asset medievalsharp-mini" type="text" id="search-journal" onkeyup="filtrarJournal()" placeholder="Pesquisar no Journal"><br>
            
            
            {% for psjournal in personagens_journal %}
                <div class="ficha-parte-box-journal medievalsharp-mini">
                    <div class="medievalsharp-large asset-line">{{ psjournal.nome_personagem }}</div><br>
                    <div class="medievalsharp-mini asset-line">{{ psjournal.background }}</div><br>
                    {% if psjournal.photo %}
                        <img src="{{ psjournal.photo.url }}" alt="Miniatura de {{ psjournal.nome_personagem }}" class="miniatura-imagem"><br><br>
                    {% else %}
                        <p>Sem imagem disponível</p>

                    {% endif %}
                </div>
            {% endfor %}
            
            {% for asset in assets %}
            
                <div class="ficha-parte-box-journal medievalsharp-mini">
                    <div class="medievalsharp-large asset-line">{{ asset.name }}</div><br>
                    <div class="medievalsharp-mini asset-line">{{ asset.description }}</div><br>
                    {% if asset.image %}
                        <img src="{{ asset.image.url }}" alt="Miniatura de {{ asset.name }}" class="miniatura-imagem"><br><br>
                    {% else %}
                        <p>Sem imagem disponível</p>

                    {% endif %}
                </div>

            {% endfor %}

        </div>


    {% else %}
        <!-- Ficha dos personagens do GM -->
        <div style="display:none;" id="owner-status" data-is-owner="True"></div>

        <div class="personagem-container-gm">
            <label class="titulo-personagem-gm medievalsharp-regular">PESQUISAR PERSONAGEM:</label>
            <input class="input-pesquisa-personagem medievalsharp-mini" 
                   type="text" 
                   id="search-personagem" 
                   placeholder="Pesquisar personagem"
                   onkeyup="filtrarPersonagens()"> <!-- Chama a função ao digitar -->
        
            <br>
            
            <div id="lista-personagens">
                <button class="menu-button-gm medievalsharp-mini" onclick="abrirJanela('dados')">DADOS</button>
                {% for personagem in personagens_gm %}
                    <button class="menu-button-gm medievalsharp-mini" 
                            onclick="abrirJanela('personagem_gm')">
                        {{ personagem.nome_personagem }}
                    </button>
                {% empty %}
                    <p>Nenhum personagem encontrado.</p>
                {% endfor %}
            </div>
        </div>

        

        <!-- dados -->
        <div id="janela-dados" style="width:200px;" class="janela">
            <button class="fechar menu-button" onclick="fecharJanela()">×</button>
            <div class="ficha-parte-box medievalsharp-mini">
                <span style="margin-bottom:1rem;" class="medievalsharp-large">Roll:</span><br>
                =>QUANTIDADE:
                <input style="margin-bottom:1rem;" class="input-inc" type="number" id="quantidade-d6-id" value="3">
                =>INCREMENTO:
                <input style="margin-bottom:1rem;" class="input-inc" type="number" id="incremento_d6_id" value="0">
                <button class="menu-button" id="botao-rolar-d6">Rolar</button><br><br>
            </div>
        </div>


        <!--Journal GM-->
        <div id="janela-journal-gm" class="janela">
    
            <button class="fechar menu-button" onclick="fecharJanela()">×</button>

            <label class="titulo-personagem-gm medievalsharp-regular">PESQUISAR:</label>
            <input class="input-pesquisa-asset medievalsharp-mini" type="text" id="search-journal" onkeyup="filtrarJournal()" placeholder="Pesquisar no Journal"><br>
            
            
            {% for psjournal in personagens_journal %}
                <div class="ficha-parte-box-journal medievalsharp-mini">
                    <div class="medievalsharp-large asset-line">{{ psjournal.nome_personagem }}</div><br>
                    <div class="medievalsharp-mini asset-line">{{ psjournal.background }}</div><br>
                    {% if psjournal.photo %}
                        <img src="{{ psjournal.photo.url }}" alt="Miniatura de {{ psjournal.nome_personagem }}" class="miniatura-imagem"><br><br>
                    {% else %}
                        <p>Sem imagem disponível</p>

                    {% endif %}
                </div>
            {% endfor %}
            
            {% for asset in assets %}
            
                <div class="ficha-parte-box-journal medievalsharp-mini">
                    <div class="medievalsharp-large asset-line">{{ asset.name }}</div><br>
                    <div class="medievalsharp-mini asset-line">{{ asset.description }}</div><br>
                    {% if asset.image %}
                        <img src="{{ asset.image.url }}" alt="Miniatura de {{ asset.name }}" class="miniatura-imagem"><br><br>
                    {% else %}
                        <p>Sem imagem disponível</p>

                    {% endif %}
                </div>

            {% endfor %}

        </div>

    {% endif %}

    <!--Ficha completa personagem secundário-->
    <div id="janela-personagem_secundario" class="janela">
        <button class="fechar menu-button" onclick="fecharJanelaSecundario()">×</button>
        
    </div>


    <!--Ficha completa GM-->
    <div id="janela-personagem_gm" class="janela">
        <button class="fechar menu-button" onclick="fecharJanela()">×</button>
        
    </div>











    <div class="ferramentas-container"></div>

    <script src="{% static 'global/js/mapas/zoom.js' %}"></script>
    <script src="{% static 'global/js/mapas/drag.js' %}"></script>
    <script src="{% static 'global/js/chat/chat.js' %}"></script>
    <script src="{% static 'global/js/game_interface/roll_atributos.js' %}"></script>
    <script src="{% static 'global/js/game_interface/roll_ataque.js' %}"></script>
    <script src="{% static 'global/js/game_interface/game_interface.js' %}"></script>
    <script src="{% static 'global/js/game_interface/roll_dice.js' %}"></script>
    <script src="{% static 'global/js/game_interface/assets_img.js' %}"></script>
    <script src="{% static 'global/js/game_interface/window_gm_characters.js' %}"></script>
    <script src="{% static 'global/js/game_interface/window_player_characters.js' %}"></script>
    <script src="{% static 'global/js/game_interface/filtro_personagens_gm.js' %}"></script>
    <script src="{% static 'global/js/game_interface/filter_journal.js' %}"></script>
    <script src="{% static 'global/js/chat/autoScroll.js' %}"></script>
</body>

</html>