{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'global/css/login_style.css' %}"> <!-- Adicione o caminho para seu CSS, se houver -->
</head>
<body class= "login-body">
    <div class="login-container">
        <h2>Registrar</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar</button>
        </form>
        <p>Já possui uma conta ? <a href="{% url 'gurps:login' %}">Login</a>.</p>
    </div>
</body>
</html>
