{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/lista_campanhas_style.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/fontes.css' %}">
    <title>Menu de remover personagem GM</title>
</head>

<body>
    <h1 style="font-size: 3rem;" class="titulo-pagina medievalsharp-regular">REMOVER personagem</h1>

    <!-- Campo de busca -->
    <label for="search-campanha" class="pesquisa-label medievalsharp-regular">Buscar Campanha:</label>
    <input type="text" id="search-campanha" placeholder="Buscar campanha..." class="campo-busca medievalsharp-regular">



    <ul class="ul-lista">
        {% for sheet in sheets %}
        <li style="font-size: 1rem;" class="item-lista medievalsharp-regular">
            <a href="#" onclick="abrirJanela('{{ sheet.id }}'); return false;">
                <h2 class="nome-personagem">PERSONAGEM: {{ sheet.nome_personagem }}</h2>
                <h2>CAMPANHA: {{ sheet.info_campanha.nome_campanha }}</h2>
                <h2>PLAYER: {{sheet.info_campanha.player_name}}</h2>
                {% if sheet.photo %}
                <img class="imagem-miniatura" src="{{ sheet.photo.url }}" alt="Imagem do personagem">
                {% else %}
                <p>Sem imagem disponível</p>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>


    <div id="janelas">
        {% for sheet in sheets %}
        <div id="janela-{{ sheet.id }}" class="janela">
            <button class="fechar menu-button" onclick="fecharJanela()">×</button>
            <h2 class="medievalsharp-large">Tem certeza que deseja remover?<p> {{sheet.nome_personagem}}</p>
            </h2>
            <a href="{% url 'gurps:delete_sheet' sheet.id %}">
                <button class="menu-button medievalsharp-regular">Confirmar</button></a>
        </div>
        {% endfor %}

    </div>



    <script src="{% static 'global/js/menu/pop_window.js' %}"></script>
    <script src="{% static 'global/js/menu/filter_remove_sheet.js' %}"></script>


</body>

</html>