{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/_nova_campanha_style.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/fontes.css' %}">
    <title>Carregar Campanha</title>
</head>

<body>
    <h1 class="titulo-pagina medievalsharp-large">CARREGAR CAMPANHA</h1>
    <div class="game-master-player-container medievalsharp-regular">
        <a href="{% url 'gurps:carregar_campanha_gm' %}"><button class="menu-button ">GAME MASTER</button></a>
        <a href="{% url 'gurps:carregar_campanha_player' %}"><button class="menu-button">PLAYER</button></a>
    </div>
</body>

</html>