{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/lista_campanhas_style.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/fontes.css' %}">
    <title>Lista de personagens PLAYER</title>
</head>

<body>
    <h1 style="font-size: 3rem;" class="titulo-pagina medievalsharp-regular">Lista de personagens como PLAYER</h1>



    <!-- Campo de busca -->
    <label for="search-campanha" class="pesquisa-label medievalsharp-regular">Buscar Campanha:</label>
    <input type="text" id="search-campanha" placeholder="Buscar campanha..." class="campo-busca medievalsharp-regular">


    <ul class="ul-lista">
        {% for personagem in personagens %}
        <li style="font-size: 1rem;" class="item-lista medievalsharp-regular">
            <a href="{% url 'gurps:game_interface' personagem.campanha_id asset_id %}">
                <h2 class="personagem-nome">PERSONAGEM:<p> {{ personagem.nome_personagem }}</p>
                </h2><br>
                <h2>CAMPANHA:<br>{{ personagem.info_campanha.nome_campanha }}
                </h2><br>
                {% if personagem.photo %}
                <img class="imagem-miniatura" src="{{ personagem.photo.url }}" alt="Imagem do personagem">
                {% else %}
                <h2>Sem imagem disponível</h2>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
    <script src="{% static 'global/js/menu/filter_campaign_list_player.js' %}"></script>

</body>

</html>