{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/lista_campanhas_style.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/fontes.css' %}">
    <title>Lista de Campanhas</title>
</head>

<body>
    <h1 class="titulo-pagina medievalsharp-large">Lista de Campanhas Como GM</h1>

    <!-- Campo de busca -->
    <label for="search-campanha" class="pesquisa-label medievalsharp-regular">Buscar Campanha:</label>
    <input type="text" id="search-campanha" placeholder="Buscar campanha..." class="campo-busca medievalsharp-regular">

    <ul class="ul-lista" id="lista-campanhas">
        {% for campanha in campanhas %}
        <li class="item-lista medievalsharp-regular">
            <a href="{% url 'gurps:game_interface' campanha.id asset_id %}">
                <h2 class="titulo-campanha">{{ campanha.nome }}</h2>
                <img class="imagem-miniatura" src="{{ campanha.imagem.url }}" alt="Imagem da Campanha" />
            </a>
        </li>
        {% endfor %}
    </ul>

    <script src="{% static 'global/js/menu/filter_campaign_list_gm.js' %}"></script>
</body>

</html>