{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/_nova_campanha_style.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/fontes.css' %}">
    <title>Nova Campanha</title>
</head>

<body>
    <div class="game-master-player-container medievalsharp-regular">
        <a href="{% url "gurps:criar_campanha" %}"><button class="menu-button ">GAME MASTER</button></a>
        <a><button class="menu-button">PLAYER</button></a>
    </div>
</body>

</html>