:root {
    --primary-color: #230023;
    --white-color: #ffffffe8;
    --light-gray-color: #eeeeee3d;
    --faded-black-color: rgba(0, 0, 0, 0.534);
    --faded-thin-black-color: rgba(0, 0, 0, 0.233);
    --white-gray-color: #e2dee2;
    --orange: rgba(126, 58, 3, 0.986);

}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/static/global/img/paper-texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.form-field {
    display: flex;
    align-items: flex-start;
    /* Alinha os inputs no topo, caso tenham alturas diferentes */
}

.ficha-box {
    border: var(--white-color) solid;
    border-radius: 0.5rem;
    padding: 1rem;
}

.box-atributo {
    display: grid;
}

.campo-curto {
    width: 100px;
    /* Define o tamanho dos campos */

}

.campo-curto-atributo {
    width: 4rem;
    height: 4rem;
    /* Define o tamanho dos campos */

}

.input-box-atributo {
    margin-right: 1rem;
}

.txt-miniatura-imagem {
    color: var(--white-color);

}

.input-imagem-miniatura {
    color: var(--white-color)
}

.imagem-miniatura {
    display: none;
    width: 200px;
    height: auto;
    margin-top: 10px;
}

.coluna-atributo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.caixa-atributo {
    width: 5rem;
    height: 5rem;
}

.caixa-atributo-label {
    width: 5rem;
}

.label-atributo {
    width: 5rem;
    text-align: center;

}